body {
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
.container {
  width: 80%;
  margin: 50px auto;
}

/* Add your styles here! */

@media (min-width: 481px) {
  .container {
    width: 400px;
  }
}
